version: '3'

services:
  postgres-test:
    container_name: postgres-test
    image: postgres:latest
    restart: always
    privileged: true
    shm_size: 16G
    ports:
      - 8432:5432
    environment:
      POSTGRES_PASSWORD: db_password
      POSTGRES_DB: mercury
      PGDATA: /var/lib/postgresql/data/pgdata
      entrypoint: /entrypoint.sh
    volumes:
      - ./pg_data/data:/var/lib/postgresql/data/pgdata
      - ./devtools/create_table/create_table.sql:/docker-entrypoint-initdb.d/create_table.sql
      - ./devtools/my-postgres.conf:/etc/postgresql/postgresql.conf
    networks:
      - mercury-test-net
    command: postgres -c config_file=/etc/postgresql/postgresql.conf


  ckb-node-test:
    container_name: ckb-node-test
    user: root
    restart: always
    image: nervos/perkins-tent:v0.101.2-testnet1
    environment:
      CKB_NETWORK: testnet
    ports:
      - "8114:9115"
      - "8115:8115"
    volumes:
      - ./ckb-node-data:/data
    networks:
      - mercury-test-net

  mercury-test:
    container_name: mercury-test
    restart: always
    build: .
    ports:
      - 8116:8116
    volumes:
      - ./devtools/config:/app/devtools/config
      - ./free-space:/app/free-space
    depends_on:
      - ckb-node-test
      - postgres-test
    networks:
      - mercury-test-net
    command: ./mercury -c devtools/config/testnet_config.toml

networks:
  mercury-test-net: